cmdamt/Include/WSDL/EventManagerClientInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Intel(R) Active Management Technology Wireless Profiles Configuration Interface version 0.6RC6-->
<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:cmn="http://schemas.intel.com/platform/client/Common/2006/01"
    xmlns:emi="http://schemas.intel.com/platform/client/EventManager/2004/01" 
    xmlns:emc="http://schemas.intel.com/platform/client/EventManagerClient/2006/01"
    targetNamespace="http://schemas.intel.com/platform/client/EventManagerClient/2006/01">
    
    <types>

        <xs:schema targetNamespace="http://schemas.intel.com/platform/client/Common/2006/01" elementFormDefault="qualified">
            <xs:include schemaLocation="Common.xsd" />
        </xs:schema>

        <xs:schema targetNamespace="http://schemas.intel.com/platform/client/EventManager/2004/01" elementFormDefault="qualified">
            <xs:include schemaLocation="EventManagerInterface.xsd" />
        </xs:schema>

        <!-- EventManagerClient namespace --> 
        <xs:schema targetNamespace="http://schemas.intel.com/platform/client/EventManagerClient/2006/01" elementFormDefault="qualified">

            <!-- Imported namespaces -->
            <xs:import namespace="http://schemas.intel.com/platform/client/Common/2006/01"/>
            <xs:import namespace="http://schemas.intel.com/platform/client/EventManager/2004/01"/>
            

            <!-- Intel(r) AMT 2.5 -->
            <xs:element name="SoapAlertRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SoapAlertRecords" type="emi:EventLogRecordType" minOccurs="0" maxOccurs="64"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SoapAlertResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Status" type="cmn:PT_STATUS"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>

    <!-- Intel(r) AMT 2.5 -->
    <message name="SoapAlertIn">
        <part name="parameters" element="emc:SoapAlertRequest"/>
    </message>
    <message name="SoapAlertOut">
        <part name="parameters" element="emc:SoapAlertResponse"/>
    </message>

    <!-- Intel(r) AMT 2.5 -->
    <portType name="EventManagerClientSoapPortType">

        <operation name="SoapAlert">
            <input message="emc:SoapAlertIn"/>
            <output message="emc:SoapAlertOut"/>
        </operation>
    </portType>

    <!-- Intel(r) AMT 2.5 -->
    <binding name="EventManagerClientSoapBinding" type="emc:EventManagerClientSoapPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SoapAlert">
            <soap:operation
                soapAction="http://schemas.intel.com/platform/client/EventManagerClient/2006/01/SoapAlert"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
     </binding>
    
     <!-- Service Types -->
     <service name="EventManagerClientService">
          <port name="EventManagerClientSoapPortType" binding="emc:EventManagerClientSoapBinding">
               <soap:address location="http://hostname:16992/EventManagerClientService"/>
          </port>
     </service>
</definitions>
