cmdamt/Include/WSDL/StorageInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Intel(R) Active Management Technology Storage Interface version 1.15.0-->
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:str="http://schemas.intel.com/platform/client/Storage/2004/01" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:atls="http://tempuri.org/vc/atl/server/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://schemas.intel.com/platform/client/Storage/2004/01">
	<wsdl:types>
		<s:schema targetNamespace="http://schemas.intel.com/platform/client/Storage/2004/01" elementFormDefault="qualified" attributeFormDefault="qualified">
			<s:simpleType name="PT_STATUS">
				<s:restriction base="s:unsignedInt"/>
			</s:simpleType>
			<s:element name="ExecuteStorageOperation">
				<s:complexType>
					<s:sequence>
						<s:element name="Request" type="s:base64Binary"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ExecuteStorageOperationResponse">
				<s:complexType>
					<s:sequence>
						<s:element name="Status" type="str:PT_STATUS"/>
						<s:element name="Response" type="s:base64Binary"/>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<message name="ExecuteStorageOperationIn">
		<part name="parameters" element="str:ExecuteStorageOperation"/>
	</message>
	<message name="ExecuteStorageOperationOut">
		<part name="parameters" element="str:ExecuteStorageOperationResponse"/>
	</message>
	<portType name="StorageSoapPortType">
		<operation name="ExecuteStorageOperation">
			<input message="str:ExecuteStorageOperationIn"/>
			<output message="str:ExecuteStorageOperationOut"/>
		</operation>
	</portType>
	<binding name="StorageSoapBinding" type="str:StorageSoapPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ExecuteStorageOperation">
			<soap:operation soapAction="http://schemas.intel.com/platform/client/Storage/2004/01/ExecuteStorageOperation"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="StorageService">
		<port name="StorageSoapPort" binding="str:StorageSoapBinding">
			<soap:address location="http://hostname:16992/StorageService"/>
		</port>
	</service>
</wsdl:definitions>
